@CHARSET "UTF-8";
.lang-select{
	position: absolute;
	top: 10px;
	right: 10px;
}

.3rb-info{
	color:red !important;
}

 	.info-nav li a{margin-left:5px;color:#333;}
 	.info-nav li a:hover{margin-left:5px;}
ul.main-nav li{margin-left:12px;}
ul.main-nav li a{font-size:13px;}
 	ul.main-nav li a:hover{background:#555;}
 	h1,h2,h3,h4,h5,h6{font-weight:600;}
 	.dropdown{border:1px solid #ccc;}
   #Side_Channel_Blower_2RB_Single_Stage_all{background:#ccc;}
 	#Side_Channel_Blower_2RB_Single_Stage{height:1200px;width:1000px;margin:0 auto;background:#fff;border:1px solid #999;border-top:none;box-shadow:0px 5px 7px 5px #ccc;}
   #Side_Channel_Blower_2RB_Single_Stage .left{float:left;width:265px;margin:5px 0 0 10px;}
 	#Side_Channel_Blower_2RB_Single_Stage .left H2{text-indent:10px;background:#666;font-size:14px;font-weight:600;width:250px;height:32px;color:#fff;line-height:32px;border:1px solid  #555;}
 	#Side_Channel_Blower_2RB_Single_Stage .left ul{margin-top:8px;list-style:none;}
 	#Side_Channel_Blower_2RB_Single_Stage .left ul li {margin-top:13px;background:url(image/jiantou.png) no-repeat 0 2px;padding-left:18px;}
   #Side_Channel_Blower_2RB_Single_Stage .left form p{margin-top:10px;width:240px;padding-left:10px;}
 	#Side_Channel_Blower_2RB_Single_Stage .left ul li  a{color:#333;}
 	#Side_Channel_Blower_2RB_Single_Stage .left .text{border-radius:0px;}
 	#Side_Channel_Blower_2RB_Single_Stage .left select{margin-left:8px;border-radius:0px;}
 	#Side_Channel_Blower_2RB_Single_Stage .right{height:880px;float:left;width:700px;border-left:1px solid #ccc;padding:0 0 30px 15px;}
 	#Side_Channel_Blower_2RB_Single_Stage .right h5{color:#444;font-weight:600;font-size:14px;margin-top:10px;text-align:center;height:25px;line-height:25px;margin-bottom:10px;}
 	#Side_Channel_Blower_2RB_Single_Stage .right  #mypage{float:left;margin:0 0 20px 22px;}
 	#Side_Channel_Blower_2RB_Single_Stage .right  #mypage img{border:1px solid #bbb;}
 	#Side_Channel_Blower_2RB_Single_Stage .right  #mypage img:hover{filter:alpha(opacity=90);opacity=0.9;}
 	#Side_Channel_Blower_2RB_Single_Stage .right h4 a{font-size:13px;color:#333;display:block;width:200px;text-indent:50px;height:20px;line-height:20px;font-weight:500;background:url(image/arrow04.gif) no-repeat 48px 6px;padding-left:10px;}

 	
 	    #Side_Channel_Blower_2RB_Double_Stage_all{background:#ccc;}
 	#Side_Channel_Blower_2RB_Double_Stage{height:1200px;width:1000px;margin:0 auto;background:#fff;border:1px solid #999;border-top:none;box-shadow:0px 5px 7px 5px #ccc;}
   #Side_Channel_Blower_2RB_Double_Stage .left{float:left;width:265px;margin:5px 0 0 10px;}
 	#Side_Channel_Blower_2RB_Double_Stage .left H2{text-indent:10px;background:#666;font-size:14px;font-weight:600;width:250px;height:32px;color:#fff;line-height:32px;border:1px solid  #555;}
 	#Side_Channel_Blower_2RB_Double_Stage .left ul{margin-top:8px;list-style:none;}
 	#Side_Channel_Blower_2RB_Double_Stage .left ul li {margin-top:13px;background:url(image/jiantou.png) no-repeat 0 2px;padding-left:18px;}
   #Side_Channel_Blower_2RB_Double_Stage .left form p{margin-top:10px;width:240px;padding-left:10px;}
 	#Side_Channel_Blower_2RB_Double_Stage .left ul li  a{color:#333;}
 	#Side_Channel_Blower_2RB_Double_Stage .left .text{border-radius:0px;}
 	#Side_Channel_Blower_2RB_Double_Stage .left select{margin-left:8px;border-radius:0px;}
#Side_Channel_Blower_2RB_Double_Stage .right{height:890px;float:left;width:700px;border-left:1px solid #ccc;padding:0 0 30px 15px;}
 	#Side_Channel_Blower_2RB_Double_Stage .right h5{color:#444;font-weight:600;font-size:14px;margin-top:10px;text-align:center;height:25px;line-height:25px;margin-bottom:10px;}
 	#Side_Channel_Blower_2RB_Double_Stage .right  #mypage{float:left;margin:0 0 20px 22px;}
 	#Side_Channel_Blower_2RB_Double_Stage .right  #mypage img{border:1px solid #bbb;}
 	#Side_Channel_Blower_2RB_Double_Stage .right  #mypage img:hover{border:1px solid #777;}
 	#Side_Channel_Blower_2RB_Double_Stage .right h4 a{font-size:13px;color:#333;display:block;width:200px;text-indent:60px;height:20px;line-height:20px;font-weight:500;background:url(image/arrow04.gif) no-repeat 60px 6px;padding-left:10px;}
 	

 	
 	/*文字分页*/
#page_text{
	clear:both;
	text-align:center;
	font-size:16px;
	color:#333;
	height:40px;
}
#page_text ul{
	width:300px;
	list-style:none;
}
#page_text ul  li{
	display:inline;
}
#page_text ul  li a{
	text-decoration:none;
	color:#145183;
}
 	#copyright a{color:#999;font-variant:normal;}
#copyright p{font-variant:normal;}
   #copyright ul li{margin-top:5px;}
   
   
/*index.php*/
	.flash-wrap {width:1000px;height:326px;border:1px solid #ccc;padding:10px;background:#fff;margin:1em auto 0;}
    #sildeContainer{position:relative;width:1000px;margin:0 auto 10px;height: 201px;overflow:hidden}
    #sildeContainer a{position:absolute;}
    #sildeContainer .slider-item img{border:1px solid #999;top:2em;}
