@CHARSET "UTF-8";
28.50553248700882, 121.34615331888199
a{
	font-size:14px;
}
a:hover{
	text-decoration:none;
}
#contact_all{
	background:#ccc;
}
#contact{
	margin:0 auto;
	background:#fafafa;
	width:1024px;
	border:1px solid #999;
	border-top:none;
	border-bottom:none;
	position:relative;
	height:750px;
}
#contact_info{
	position:absolute;
	top:5px;
	left:20px;
	width:550px;
}
#contact_info p{
	text-indent:10px;
	font-family:Tahoma;
	margin-top:-5px;
	color:#222;
	font-size:13px;
}

#contact_info p.h1{
	font-size:20px;
	color:#1e448c;
	font-family:Tahoma;
	font-weight:600;
	text-indent:0px;
	height:30px;
	line-height:30px;
}


#feedback_info{
	position:absolute;
	top:300px;
	right:5px;
	width:490px;
}
#feedback_info table{

}
#feedback_info table td{
	padding:5px 10px 5px 10px;
	text-align:right;
}
#feedback_info p.h1{
	font-size:14px;
	font-weight:600;
}
#feedback_info p{
	margin-top:-10px;
	font-size:13px;
}
#feedback_info input{
    border-radius:0px;
	width:200px;
	background:#fff;
	color:#222;
	border:1px solid #144576;
}
#feedback_info textarea{
    border-radius:0px;
	width:350px;
	height:90px;
    border:1px solid #144576;
	color:#222;
}

input#submit{
	width:25px;
	 height:35px;
	 background:#333;
	 color:#eee;
	 font-weight:600;
	 border:none;
	 font-size:14px;
	 font-family:Tahoma;
	 text-indent:30px;
	 position:absolute;
	 top:375px;
	 left:95px;
}
input#submit:hover{
	background:#666;
}
