@CHARSET "UTF-8";

a{
	font-size:14px;
}
a:hover{
	text-decoration:none;
}
#downloadall{
	background:#ccc;
}
#download{
	margin:0 auto;
	background:#fafafa;
	width:1024px;
	border:1px solid #999;
	border-top:none;
	border-bottom:none;
	position:relative;
	height:860px;
}
#download table.overview{
	margin-left:10px;
}
#download table.overview strong{
	font-size:14px;
}
#download table.overview td{
   padding:5px;
}
#download H3{
	color:#333;
	font-size:14px;
	height:30px;
	line-height:30px;
	width:1004px;
	margin-left:10px;
	font-family:tahoma;
}
#download div.left{
	width:504px;
    float:left;
	margin-bottom:20px;
	margin-left:20px;
}
#download div.left h4{
    height:30px;
	line-height:30px;
	color:#333;
	text-indent:10px;
	margin-top:6px;
    font-size:13px;
    font-family:tahoma;
}
#download div.left table{
	margin-left:10px;
}
#download div.left table td{
   padding-left:15px;
   padding-right:15px;
   padding-top:5px;
   padding-bottom:5px;
}
#download div.left table tr.one td{
	border-bottom:1px solid #666;
}
#download div.left table td a{
   font-size:13px;
   color:#333;
}
#download div.left table td a:hover{
   font-size:13px;
   color:#163154;
   text-decoration:underline;
}
#download div.right{
   width:500px;
   float:left;
   margin-bottom:20px;
}
#download div.right h4{
	height:30px;
	line-height:30px;
	color:#333;
	text-indent:10px;
	margin-top:6px;
    font-size:13px;
    font-family:tahoma;
}
#download div.right table{
	margin-left:10px;
}
#download div.right table tr.one td{
	border-bottom:1px solid #666;
}
#download div.right table td{
   padding-left:15px;
   padding-right:15px;
   padding-top:5px;
   padding-bottom:5px;
}
#download div.right table td a{
   font-size:13px;
   color:#333;
}
#download div.right table td a:hover{
   font-size:13px;
   color:#163154;
   text-decoration:underline;
}
#download #overview1{
   margin-left:20px;
   margin-bottom:30px;
}
#download #overview1 h4{
	height:30px;
	line-height:30px;
	color:#333;
	text-indent:10px;
	margin-top:6px;
    font-size:13px;
    font-family:tahoma;
}
#download #overview1 table td{
   padding-left:28px;
   padding-right:28px;
   padding-top:5px;
   padding-bottom:5px;
}
#download #overview1 table td a{
   font-size:13px;
   color:#333;
}
#download #overview1 table td a:hover{
   font-size:13px;
   color:#163154;
   text-decoration:underline;
}
#download #overview1  table tr.one td{
	border-bottom:1px solid #666;
}

a#catalog{
	color:#222;
	font-weight:600;
}
a#catalog:hover{
	text-decoration:underline;
	color:#b30202;
	}
