<IfModule mod_headers.c>
 	<FilesMatch ".(gif|jpg|jpeg|png|ico)$">
		Header set Cache-Control "max-age=86400"
 	</FilesMatch>
 </IfModule>
<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
  
</IfModule>
