<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
<title><?php echo _('3RB Three Stage Side Channel Blower'); ?></title>
<meta name="description" content="<?php echo _('Greenco Side channel blower,Regenerative blower,Ring blower with NSK,SKF bearing high temperaturer grease,The world leader in manufacturer,export to more than 100 countries by Greenco.')?>" />
<meta name="keywords" content="<?php echo _('Side channel blower,Regenerative blower,Ring blower,Air blower,Vacuum pump,single stage,double stage,multi stage blower,2RB,3RB,4RB series,GREENCO')?>" />
<include file="../Public/css" />
<link href="favicon.ico" rel="shortcut icon" />
</head>
<include file="../Public/header" />


<!-- 应用内容 -->
<div class="container-fuild">
		<div class="container pro">
				<img src="{$Think.lang.SRC_LAN}/product_banner.png" class="banner" />
				<div class="row">
						<div class="col-md-3">
								<include file="../Public/pro-nav" />
						</div>
						<div class="col-md-9 split">
								<h3 class="title-1">3RB 	{$Think.lang.PROD_THREE_STAGE} ▪ {$Think.lang.3RB_SIDE_CHANNEL_BLOWER}</h3>
								<div class="row pro-list content">
										<p style="text-indent: 2em;	line-height: 1.6;	font-size: 13px;	padding: 0 1.8em 1.5em;	text-align: justify;">{$Think.lang.3RB_DSC}</p>
								<div  id="mypage" class="col-md-4 pro-item">
										<a href="Side_Channel_Blower_3RB_Three_Stage_table.php?series=350-3" target="_blank">
												<img  src="{$Think.config.IMG_ROOT}/3RB350-3.jpg"/>
										</a>
										<h4>
												<a class="link-4" href="Side_Channel_Blower_3RB_Three_Stage_table.php?series=350-3" target="_blank">3RB 350</a>
										</h4>
								</div>
								<div  id="mypage" class="col-md-4 pro-item">
										<a href="Side_Channel_Blower_3RB_Three_Stage_table.php?series=550-3">
												<img  src="{$Think.config.IMG_ROOT}/3RB350-3.jpg"/>
										</a>
										<h4>
												<a class="link-4" href="Side_Channel_Blower_3RB_Three_Stage_table.php?series=550-3">3RB 550</a>
										</h4>
								</div>
								<div  id="mypage" class="col-md-4 pro-item">
										<a href="Side_Channel_Blower_3RB_Three_Stage_table.php?series=750-3">
												<img  src="{$Think.config.IMG_ROOT}/3RB350-3.jpg"/>
										</a>
										<h4>
												<a class="link-4" href="Side_Channel_Blower_3RB_Three_Stage_table.php?series=750-3">3RB 750</a>
										</h4>
								</div>
								<div  id="page_text"></div>
								</div>
						</div>
				</div>
		</div>
</div>
<!-- 应用内容end -->

<include file="../Public/footer" />
<script src="{$Think.config.JS_ROOT}/jquery.quickpaginate.js" type="text/javascript"></script>
<script src="{$Think.config.JS_ROOT}/PROD.js" type="text/javascript"></script>
</body>
</html>

