<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
<?php require 'setLan.php'; ?>
<title><?php echo _('Cover Suction Ring Blower|');?></title>
<meta name="description" content="<?php echo _('Greenco Cover Suction Ring Blower,Side channel blower,Regenerative blower with NSK,SKF bearing high temperaturer grease,The world leader in manufacturer,export to more than 100 countries by Greenco.');?>" />
<meta name="keywords" content="<?php echo _('Cover Suction Ring blower,Front suction Side channel blower,Regenerative blower,Air blower,Vacuum pump,single stage,double stage,multi stage blower,2RB,3RB,4RB series,GREENCO');?>" />
<include file="../Public/css" />
<link href="favicon.ico" rel="shortcut icon" />
</head>
<include file="../Public/header" />


<!-- 应用内容 -->
<div class="container-fuild">
		<div class="container pro">
				<img src="{$Think.lang.SRC_LAN}/product_banner.png" class="banner" />
				<div class="row">
						<div class="col-md-3">
								<include file="../Public/pro-nav" />
						</div>
						<div class="col-md-9 split">
								<h3 class="title-1">
										<?php echo _('  Cover Suction Ring Blower');?>
								</h3>
								<div class="content">
										<p><?php echo _('  The cover suction series ring blower are designed for our specific customers. On the front cover, There is an inlet and an outlet, which make customers use their own products flexibly. The customers are not only able to use the inlet and outlet to suction and blow, but also are able to use the original inlet and outlet on the rear housing to suction and blow. Then it will reduce customers’ cost of product materials as well as decrease the freight cost due to the smaller volume of products. This design has been widely used on industrial vacuum cleaners, automatic hopper loaders and dental suction systems. As a result, Our professional OEM design has been appreciated by many of our customers because we help them win more markets. ');?></p>
										<h6><?php echo _('  Application for cover suction series ring blower');?></h6>
										<div class="row">
												<div class="col-md-4">
														<img src="{$Think.config.IMG_ROOT}/home9.png" style="margin:17px 0 0 10px;"/>
														<h4 class="link-4"><?php echo _('Industrial vacuum cleaner');?></h4>
												</div>
												<div class="col-md-4">
														<img src="{$Think.config.IMG_ROOT}/home8.png" style="margin:17px 0 0 50px;"/>
														<h4 class="link-4"><?php echo _('Automatic hopper loader system');?></h4>
												</div>
												<div class="col-md-4">
														<img src="{$Think.config.IMG_ROOT}/home10.png" style="margin:17px 0 0 50px;"/>
														<h4 class="link-4"><?php echo _('Dental suction system');?></h4>
												</div>
												</div>
												<h6 style="color:#444;font-family:Calibri,arial;font-size:16px;margin-bottom:15px;clear:both;"><?php echo _(' Performance & Technical data');?></h6>
												<div class="row">
														<div  id="mypage" class="col-md-4 pro-item">
																<a href="Cover_Suction_Ring_Blower_table.php?series=210" target="_blank">
																		<img  src="{$Think.config.IMG_ROOT}/B_series.jpg"  alt="2RB 210 Cover Suction Ring Blower"/>
																</a>
																<h4>
																		<a class="link-4" href="Cover_Suction_Ring_Blower_table.php?series=210" target="_blank">2RB210 (B)</a>
																</h4>
														</div>
														<div  id="mypage" class="col-md-4 pro-item">
																<a href="Cover_Suction_Ring_Blower_table.php?series=410" target="_blank">
																		<img  src="{$Think.config.IMG_ROOT}/B_series.jpg"  alt="2RB 410 Cover Suction Ring Blower"/>
																</a>
																<h4>
																		<a class="link-4" href="Cover_Suction_Ring_Blower_table.php?series=410" target="_blank">2RB410 (B)</a>
																</h4>
														</div>
														<div  id="mypage" class="col-md-4 pro-item">
																<a href="Cover_Suction_Ring_Blower_table.php?series=510" target="_blank">
																		<img  src="{$Think.config.IMG_ROOT}/B_series.jpg"  alt="2RB 510 Cover Suction Ring Blower"/>
																</a>
																<h4>
																		<a class="link-4" href="Cover_Suction_Ring_Blower_table.php?series=510" target="_blank">2RB510 (B)</a>
																</h4>
														</div>
														<div  id="mypage" class="col-md-4 pro-item">
																<a href="Cover_Suction_Ring_Blower_table.php?series=710" target="_blank">
																		<img  src="{$Think.config.IMG_ROOT}/B_series.jpg"  alt="2RB 710 Cover Suction Ring Blower"/>
																</a>
																<h4>
																		<a class="link-4" href="Cover_Suction_Ring_Blower_table.php?series=710" target="_blank">2RB710 (B)</a>
																</h4>
														</div>
														<div  id="mypage" class="col-md-4 pro-item">
																<a href="Cover_Suction_Ring_Blower_table.php?series=810" target="_blank">
																		<img  src="{$Think.config.IMG_ROOT}/B_series.jpg"  alt="2RB 810 Cover Suction Ring Blower"/>
																</a>
																<h4>
																		<a class="link-4" href="Cover_Suction_Ring_Blower_table.php?series=810" target="_blank">2RB810 (B)</a>
																</h4>
														</div>
														<div  id="page_text"></div>
										</div>	
								</div>
						</div>
				</div>
		</div>
</div>
<!-- 应用内容end -->
<include file="../Public/footer" />
<script src="{$Think.config.JS_ROOT}/jquery.quickpaginate.js" type="text/javascript"></script>
<script src="{$Think.config.JS_ROOT}/PROD.js" type="text/javascript"></script>
</body>
</html>

