<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
<?php require 'setLan.php';?>
<title><?php echo _('Certificate|Certifications|Quality System_GREENCO');?></title>
<meta name="description" content=" <?php echo _('GREENCO_The world leader manufacturer in side channle blower,regenerative blower,ring blower in China,side channel pumps can be used as vacuum pumps or compressors and are a highly efficient dry running technology for numerous applications.');?>" />
<meta name="keywords" content=" <?php echo _('Side channel blower,regenerative blower,air blower,certifications,ISO9001:2008,CE,UL,CCC,TUV,GS,GREENCO');?>" />
<link href="favicon.ico" rel="shortcut icon" />
<?php require 'inc/css.inc';?>
</head>
<include file="../Public/header" />

<!-- 质量认证内容 -->
<div class="container-fuild">
	<div class="container about">
		<img src="image/about_banner.png"
			style="width: 100%; margin: 1em auto; border: 1px solid #999;" />
		<div class="row">
			<div class="col-md-3">
				<include file="../Public/about-nav" />
			</div>
			<div class="col-md-9 row cert-list">
				<h5>
					<?php echo _('Certification');?>
					<span class="pull-right"><a
						href="index.php">
							<?php echo _('Home');?>
					</a> > <a href="Certification.php">
							<?php echo _('Certification');?>
					</a></span>
				</h5>
				<div class="col-md-3">
					<a class="fancybox" href="image/zhiliangrenzheng4.jpg"
						data-fancybox-group="gallery"
						title="<strong>ISO9001:2008 Certification</strong>"><img
						src="image/zhiliangrenzheng4_sub.jpg"
						alt="ISO9001:2008 GREENCO Side Channel Blower Certification" />
					<p>
							<a href="image/zhiliangrenzheng4.jpg" class="fancybox"
								data-fancybox-group="gallery">
								<?php echo _('ISO9001:2008');?>
							</a>
						</p></a>
				</div>
				<div class="col-md-3">
					<a class="fancybox" href="image/zhiliangrenzheng12.jpg"
						data-fancybox-group="gallery"
						title="<strong>CE-LVD Certification</strong>"><img
						src="image/zhiliangrenzheng12_sub.jpg"
						alt="CE-LVD GREENCO Side Channel Blower Certification" />
					<p>
							<a href="image/zhiliangrenzheng12.jpg" class="fancybox"
								data-fancybox-group="gallery">
								<?php echo _('CE-LVD');?>
							</a>
						</p></a>
				</div>
				<div class="col-md-3">
					<a class="fancybox" href="image/zhiliangrenzheng10.png"
						data-fancybox-group="gallery"
						title="<strong>CE-EMC Certification</strong>"><img
						src="image/zhiliangrenzheng10_sub.png"
						alt="CE-EMC GREENCO Side Channel Blower Certification" />
					<p>
							<a href="image/zhiliangrenzheng10.png" class="fancybox"
								data-fancybox-group="gallery">
								<?php echo _('CE-EMC');?>
							</a>
						</p></a>
				</div>
				<div class="col-md-3">
					<a class="fancybox" href="image/zhiliangrenzheng5.jpg"
						data-fancybox-group="gallery"
						title="<strong>ROHS Certification</strong>"><img
						src="image/zhiliangrenzheng5_sub.jpg"
						alt="ROHS GREENCO Side Channel Blower Certification" />
					<p>
							<a href="image/zhiliangrenzheng5.jpg" class="fancybox"
								data-fancybox-group="gallery">
								<?php echo _('ROHS');?>
							</a>
						</p></a>
				</div>
				<div class="col-md-3">
					<a class="fancybox" href="image/zhiliangrenzheng3.jpg"
						data-fancybox-group="gallery"
						title="<strong>GSPC Certification</strong>"><img
						src="image/zhiliangrenzheng3_sub.jpg"
						alt="GSPC GREENCO Side Channel Blower Certification" />
					<p>
							<a href="image/zhiliangrenzheng3.jpg" class="fancybox"
								data-fancybox-group="gallery">
								<?php echo _('GSPC');?>
							</a>
						</p></a>
				</div>
				<div class="col-md-3">
					<a class="fancybox" href="image/zhiliangrenzheng2.jpg"
						data-fancybox-group="gallery"
						title="<strong>Measurement Certification</strong>"><img
						src="image/zhiliangrenzheng2_sub.jpg"
						alt="Measurement GREENCO Side Channel Blower Certification" />
					<p>
							<a href="image/zhiliangrenzheng2.jpg" class="fancybox"
								data-fancybox-group="gallery">
								<?php echo _('Measurement');?>
							</a>
						</p></a>
				</div>
				<div class="col-md-3">
					<a class="fancybox" href="image/zhiliangrenzheng6.jpg"
						data-fancybox-group="gallery"
						title="<strong>Patent 1 Certification</strong>"><img
						src="image/zhiliangrenzheng6_sub.jpg"
						alt="Patent GREENCO Side Channel Blower Certification" />
					<p>
							<a href="image/zhiliangrenzheng6.jpg" class="fancybox"
								data-fancybox-group="gallery">
								<?php echo _('Patent 1');?>
							</a>
						</p></a>
				</div>
				<div class="col-md-3">
					<a class="fancybox" href="image/zhiliangrenzheng9.jpg"
						data-fancybox-group="gallery"
						title="<strong>Patent 2 Certification</strong>"><img
						src="image/zhiliangrenzheng9_sub.jpg"
						alt="Patent GREENCO Side Channel Blower Certification" />
					<p>
							<a href="image/zhiliangrenzheng9.jpg" class="fancybox"
								data-fancybox-group="gallery">
								<?php echo _('Patent 2');?>
							</a>
						</p></a>
				</div>
				<div class="col-md-3">
					<a class=" fancybox" href="image/zhiliangrenzheng11.jpg"
						data-fancybox-group="gallery"
						title="<strong>Patent 3 Certification</strong>"><img
						src="image/zhiliangrenzheng11_sub.jpg"
						alt="Patent GREENCO Side Channel Blower Certification" />
					<p>
							<a href="image/zhiliangrenzheng11.jpg" class="fancybox"
								data-fancybox-group="gallery">
								<?php echo _('Patent 3');?>
							</a>
						</p></a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 质量认证end -->


<include file="../Public/footer" />
</body>
</html>

