<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
<title>{$Think.lang.EQUIPMENTS_TITLE}</title>
<meta name="keywords" content="{$Think.lang.EQUIPMENTS_KEYWORDS}" />
<meta name="description" content="{$Think.lang.EQUIPMENTS_DESCRIPTION}" />
<link href="favicon.ico" rel="shortcut icon" />
<?php require 'inc/css.inc';?>
</head>
<include file="../Public/header" />

<!-- 质量认证内容 -->
<div class="container-fuild">
	<div class="container about row">
		<img src="image/about_banner.png"
			style="width:100%;margin: 1em auto; border: 1px solid #999;" />
		<div class="col-md-3">
			<include file="../Public/about-nav" />
		</div>
		<div class="col-md-9 split">
					<h3 class="title-1">{$Think.lang.HEADER_EQUIPMENTS}</h3>
				<div class="row">
					<div class="eq-list content ">
							<div class="col-md-6" >
								<a class="pic-item"  href="javascript:void(0)"	data="image/jifang1.jpg"	title="<strong>Sparepart Warehouse</strong>">
								<img src="image/jifang1_sub.jpg" alt="Sparepart Warehouse GREENCO Side Channel Blower Equipments" />
								<p>
										<a class="link-1" href="#">
											<?php echo _('Sparepart Warehouse');?>
										</a>
									</p></a>
							</div>
							<div class="col-md-6 Equipments_image">
								<a class="pic-item"  href="javascript:void(0)" 	data="image/jifang2.jpg" 	title="<strong>Precision Production Line</strong>">
								<img
									src="image/jifang2_sub.jpg"
									alt="Precision Production Line GREENCO Side Channel Blower Equipments" />
								<p>
										<a class="link-1"  href="#">
											<?php echo _('Precision Production Line');?>
										</a>
									</p></a>
							</div>
							<div class="col-md-6 Equipments_image" id="Equipments_image1">
								<a class="pic-item"  href="javascript:void(0)" data="image/jifang3.jpg"
									title="<strong>Die Casting Workshop</strong>">
									<img
									src="image/jifang3_sub.jpg"
									alt="Die Casting Workshop GREENCO Side Channel Blower Equipments" />
								<p>
										<a class="link-1"  href="#">
											<?php echo _('Die Casting Workshop');?>
										</a>
									</p></a>
							</div>
							<div class="col-md-6 Equipments_image">
								<a class="pic-item"   href="javascript:void(0)"  data="image/jifang4.jpg"
									title="<strong>Assembling Line</strong>">
									<img
									src="image/jifang4_sub.jpg"
									alt="Assembling Line GREENCO Side Channel Blower Equipments" />
								<p>
										<a class="link-1"  href="#">
											<?php echo _('Assembling Line');?>
										</a>
									</p></a>
							</div>
							<div class="col-md-6"  id="Equipments_image1">
								<a class="fancybox"  href="javascript:void(0)"   data="image/jifang5.jpg"
									title="<strong>Carl Zeiss CMM</strong>">
									<img
									src="image/jifang5_sub.jpg"
									alt="Q&C Department GREENCO Side Channel Blower Equipments" />
								<p>
										<a class="link-1"  href="#">
											<?php echo _('Carl Zeiss CMM');?>
										</a>
									</p></a>
							</div>
							<div class="col-md-6 Equipments_image">
								<a class="fancybox"  href="javascript:void(0)"  data="image/jifang6.jpg"
									title="<strong>Packing Line</strong>">
									<img
									src="image/jifang6_sub.jpg"
									alt="Packing Line GREENCO Side Channel Blower Equipments" />
								<p>
										<a class="link-1"  href="#">
											<?php echo _('Packing Line');?>
										</a>
									</p></a>
							</div>
							<div class="col-md-6 Equipments_image" id="Equipments_image1">
								<a class="fancybox"  href="javascript:void(0)"  data="image/jifang7.jpg"
									 title="<strong>Shipping</strong>">
									 <img
									src="image/jifang7_sub.jpg"
									alt="Shipping GREENCO Side Channel Blower Equipments" />
								<p>
										<a class="link-1"  href="#">
											<?php echo _('Shipping');?>
										</a>
									</p></a>
							</div>
							<div class="col-md-6 Equipments_image">
								<a class="fancybox" href="javascript:void(0)"  data="image/jifang10.jpg"
									title="<strong>Outgoing Inspection</strong>"><img
									src="image/jifang8_sub.jpg"
									alt="Outgoing Inspection GREENCO Side Channel Blower Equipments" />
								<p>
										<a class="link-1"  href="#">
											<?php echo _('Outgoing Inspection');?>
										</a>
									</p></a>
							</div>
							<div class="col-md-6 Equipments_image" id="Equipments_image1">
								<a class="fancybox" href="javascript:void(0)"  data="image/jifang11.jpg"
									title="<strong>AUTO motor winding</strong>"><img
									src="image/jifang11_sub.jpg"
									alt="AUTO motor winding GREENCO Side Channel Blower Equipments" />
								<p>
										<a class="link-1"  href="#">
											<?php echo _('AUTO motor winding');?>
										</a>
									</p></a>
							</div>
							<div class="col-md-6 Equipments_image">
								<a class="fancybox"  href="javascript:void(0)"  data="image/jifang10.jpg"
									title="<strong>SCHNEEBERGER Grinder</strong>"><img
									src="image/jifang10_sub.jpg"
									alt="SCHNEEBERGER Grinder GREENCO Side Channel Blower Equipments" />
								<p>
										<a class="link-1"  href="#">
											<?php echo _('SCHNEEBERGER Grinder');?>
										</a>
									</p></a>
							</div>
			</div>
		</div>
		</div>
	</div>
</div>
<!-- 质量认证end -->
<div id="myModal" class="modal fade">
		<div class="modal-dialog">
			  <div class="modal-content">
					    <div class="modal-header">
					      		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					      		<h4 class="modal-title">&nbsp;</h4>
					    </div>
					    <div class="modal-body">
					      		<img id="mypic" style="width:100%" src="image/zhiliangrenzheng11.jpg" />
					    </div>
					    		<div class="modal-footer">
					    </div>
			  </div>
		</div>
</div>
<include file="../Public/footer" />
</body>
</html>

