<?php
//让这个常量存在就能调用
@define('feifa',ture);
//引入公共文件

require 'setLan.php';
require 'inc/common.php';
global $_pagenum;//从第几条开始
global $_pagesize;//每页显示几条
if($lan == "zh_CN"){
	_page("SELECT id  FROM chinese_news", 15);//5表示每页显示几条
	$_result=mysql_query("select id,title,time,content from chinese_news  where  type='支持' order by time desc limit $_pagenum,$_pagesize");
}else{
	_page("SELECT id  FROM english_news", 15);//5表示每页显示几条
	$_result=mysql_query("select id,time,title,content  from english_news where type='support' order by time desc limit $_pagenum,$_pagesize");
}

?>
<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
<title><?php echo _('Technical Support for Side Channel Blower|Regenerative Blower|Ring blower|Vacuum pump');?></title>
<meta name="description" content="<?php echo _('GREENCO_The world leader manufacturer in side channel blower,regenerative blower,ring blower in China,side channel pumps can be used as vacuum pumps or compressors and are a highly efficient dry running technology for numerous applications.')?>" />
<meta name="keywords" content="<?php echo _('Technical Support of side channel blower,Regenerative blower,Ring blower,Air blower,vacuum pump,industrial blowers,high pressure blowers,double stage blower,three stage multistage blowers,2RB,3RB,4RB series,')?>" />
<script src="js/menu.js" type="text/javascript"></script>
<link href="favicon.ico" rel="shortcut icon" />
<?php require 'inc/css.inc';?>
</head>
<include file="../Public/header" />


<!-- 应用内容 -->
<div class="container-fuild">
   <div class="container support">
       <img src="image/support.jpg" style="width:100%;margin:1em auto 0;border:1px solid #bbb;" alt="Greenco side channel blower news"/>
       <div class="row">
       			<volist name="list" id="vo">
					{$vo.title} {$vo.time}
			</volist>	
	       <div class="col-md-3">
	             <h3 style="font-family:tahoma;  text-indent: 10px; background: #666; font-size: 14px;  font-weight: 600;height: 32px;color: #fff;line-height: 32px;border: 1px solid #555;">{$Think.lang.HEADER_NEWS_CENTER}</h3>
	                 <ul>
		                  <li style="margin-top:-2px;"><a href="news_company.php">企业动态</a></li>
		                  <li><a href="news_Industry.php">行业新闻</a></li>	
		                  <li style="margin-top:-2px;"><a href="Support.php"><?php echo _('Technical Support');?></a></li>
	                  </ul>
	       </div>
	       <div class="col-md-9" style="border-left: 1px solid #ccc;">
	       <h3 style="color:#eee;text-indent:5px;font-size:14px;font-family:tahoma;font-family:tahoma;  text-indent: 10px; background: #666; font-size: 14px;  font-weight: 600; ;height: 32px;color: #fff;line-height: 32px;border: 1px solid #555; "><?php echo _('Technical Support');?></h3>
	       <ul>
	       
	       <?php  while($_rows=mysql_fetch_array($_result)){?>
	            <li class="mypagination"><p></p><p><strong><a href="support_content.php?id=<?php echo $_rows['id'];?>"><?php echo $_rows['title'];?></a></strong></p>
	            	<p>
	<?php 
	            if($lan == "zh_CN"){
            	echo _content($_rows['content'],100);
            }else{
            	echo _content($_rows['content'],200);
            }
            		?>
	
	            	</p>
	            	<p class="more"><?php echo $_rows['time'];?></p></li>
	       <?php }?>
	       </ul>
	       <div  id="page_text"></div>
	       </div>
       </div>
   </div>
</div>
<!-- 应用内容end -->

<include file="../Public/footer" />
<script src="js/jquery.quickpaginate.js" type="text/javascript" ></script>
<script type="text/javascript">
	$(function(){
		$(".mypagination").quickpaginate({
			perpage: 6,//每页显示条数,
			pager : $("#page_text") //div的ID
		})
	})
</script>
</body>
</html>

