<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
<title><?php echo _('3RB Single Stage Side Channel Blower'); ?></title>
<meta name="description" content="<?php echo _('Greenco Side channel blower,Regenerative blower,Ring blower with NSK,SKF bearing high temperaturer grease,The world leader in manufacturer,export to more than 100 countries by Greenco.');?>" />
<meta name="keywords" content="<?php echo _('Side channel blower,Regenerative blower,Ring blower,Air blower,Vacuum pump,single stage,double stage,multi stage blower,2RB,3RB,4RB series,GREENCO');?>" />
<include file="../Public/css" />
<link href="favicon.ico" rel="shortcut icon" />
</head>
<include file="../Public/header" />
<!-- 应用内容 -->
<div class="container-fuild">
   <div class="container pro">
       <img src="{$Think.lang.SRC_LAN}/product_banner.png" class="banner" />
       <div class="row">
			<div class="col-md-3">
				<include file="../Public/pro-nav" />
			</div>
       <div class="col-md-9 split">
				<h3 class="title-1">
					3RB <?php echo _('Single Stage');?><?php echo _(' ▪ Side Channel Blower');?>
				</h3>
				<div class="row pro-list content">
             <?php require 'inc/3RB-desc.php';?>
       		 <div  id="mypage" class="col-md-4 pro-item"><a href="Side_Channel_Blower_3RB_Single_Stage_table.php?series=350-1" target="_blank"><img  src="{$Think.config.IMG_ROOT}/3RB350-1.jpg" /></a><h4><a href="Side_Channel_Blower_3RB_Single_Stage_table.php?series=350-1" target="_blank">3RB 350</a></h4></div>
		     <div  id="mypage" class="col-md-4 pro-item"><a href="Side_Channel_Blower_3RB_Single_Stage_table.php?series=550-1"><img  src="{$Think.config.IMG_ROOT}/3RB350-1.jpg" /></a><h4><a href="Side_Channel_Blower_3RB_Single_Stage_table.php?series=550-1">3RB 550</a></h4></div>
		   	 <div  id="mypage" class="col-md-4 pro-item"><a href="Side_Channel_Blower_3RB_Single_Stage_table.php?series=750-1"><img  src="{$Think.config.IMG_ROOT}/3RB350-1.jpg" /></a><h4><a href="Side_Channel_Blower_3RB_Single_Stage_table.php?series=750-1">3RB 750</a></h4></div>
       </div>
       </div>
       </div>
   </div>
</div>
<!-- 应用内容end -->
<include file="../Public/footer" />
<script src="{$Think.config.JS_ROOT}/jquery.quickpaginate.js"
	type="text/javascript"></script>
<script type="text/javascript">
	$(function() {
		$(".pro-item").quickpaginate({
			perpage : 15,//每页显示条数,
			pager : $("#page_text")
		//div的ID
		})
	})
</script>
</body>
</html>

