@CHARSET "UTF-8";
/*common*/
body{
  background:#eee;
  font-family:Tahoma,Geneva,sans-serif;
  font-size:13px;
}
.lang-select,.trademark{
	padding-top: 0.8em;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix { * +height:
    1%;
}
.3rb-info{
	color:red !important;
}
 	/*文字分页*/
#page_text{
	clear:both;
	text-align:center;
	font-size:16px;
	color:#333;
	height:40px;
}
#page_text ul{
	width:300px;
	list-style:none;
}
#page_text ul  li{
	display:inline;
}
#page_text ul  li a{
	text-decoration:none;
	color:#145183;
}
 	#copyright a{color:#999;font-variant:normal;}
#copyright p{font-variant:normal;}
   #copyright ul li{margin-top:5px;}
  /*common*/
  .container-fluid.content{background: #ccc;padding-bottom:1em;} 
 /*header  footer*/ 
 	.header .logo img{width:330px;height:92px;margin-top:10px;}  
   .header{height:115px;margin:0 auto;}
   .nav .dropdown-menu{font-size:13px}
   .btn-search{min-width: 38px;height: 34px;border-bottom-left-radius: 0;border-top-left-radius: 0;margin-left: -4px;}
   #searchBox{border-bottom-right-radius: 0;border-top-right-radius: 0;width:120px;}
   .footer{padding:2em 0;}
   .footer ul>li{margin-top:4px;}
   .footer .item{margin-right:108px;}
   .footer .item-title{font-weight:600;list-style:none;color:#bbb;}
   .green-en .footer .item{margin-right:50px}
   .footer .last{margin-right:0}
   .footer  a , .footer  span{color:#999}
   @media (min-width:1200px){.navbar-nav>li{margin-right: 1.5em;} #searchBox{width:auto;}}
/*index.php*/
	.flash-wrap {width:1000px;height:326px;border:1px solid #ccc;padding:10px;background:#fff;margin:1em auto 0;}
	.flash-shadow{margin-top:-5px;}
    #sildeContainer{position:relative;width:1000px;margin:0 auto 10px;height: 201px;overflow:hidden}
    #sildeContainer a{position:absolute;}
    #sildeContainer  .first{left:0}
    #sildeContainer  .second{left:344px}
    #sildeContainer  .last{left:688px}
    #sildeContainer .slider-item img{border:1px solid #999;top:2em;}
    #prev{left:0x;top:90px;}
    #next{left:978px;top:90px;}
/*download*/
    .download{margin: 0 auto;
background: #fafafa;
border: 1px solid #999;
border-top: none;
border-bottom: none;
}
.download a{color:#333;}
.download-img{
	width:100%;margin:10px auto;border:1px solid #666;
}
