<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
<title>{$Think.lang.NEW_CONTENT_INDEX}</title>
<meta name="description" content="{$Think.lang.NEW_CONTENT_DESCRIPTION}" />
<meta name="keywords" content="{$Think.lang.NEW_CONTENT_KEYWORDS}" />
<link href="favicon.ico" rel="shortcut icon" />
<include file="../Public/css" />
</head>
<include file="../Public/header" />


<!-- 应用内容 -->
<div class="container-fuild">
   <div class="container support">
       <img src="{$Think.lang.SRC_LAN}/support.jpg" style="width:100%;margin:1em auto 0;border:1px solid #bbb;" alt="Greenco side channel blower news"/>
       <div class="row">
	       <div class="col-md-3">
	           <include file="../Public/news-nav" />
	       </div>
	       <div class="col-md-9" style="border-left: 1px solid #ccc;">
	       <h3 style="color:#eee;text-indent:5px;font-size:14px;font-family:tahoma;font-family:tahoma;  text-indent: 10px; background: #666; font-size: 14px;  font-weight: 600; ;height: 32px;color: #fff;line-height: 32px;border: 1px solid #555; ">
					{$list.title}
			</h3>
			<div  class="row">
					<span class="pull-left">{$list.time}</span>
			
			</div>
			<p>{$list.author}</p>
			<p>{$list.content}</p>
	       <div  id="page_text"></div>
	       </div>
       </div>
   </div>
</div>
<!-- 应用内容end -->

<include file="../Public/footer" />
</body>
</html>

